.Wrap {
    overflow: hidden;
}

.inner {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    align-items: center;
}

#header .inner {
    justify-content: space-between;
    align-items: center;
    height: 140px;
}

#header {
    border-top: 2px solid #000;
    background: #f6f5ef;
    border-bottom: 1px solid #e5e5e5;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    height: 140px;
    z-index: 999;


}


#header .inner .top nav>ul {
    display: flex;
    justify-content: right;
    gap: 30px;

    font-size: 14px;
    align-items: center;
}

#header .inner .top nav>ul>li {
    position: relative;
}

#header .inner .top nav>ul>li~li:before {
    content: "";
    position: absolute;
    top: 0;
    left: -15px;
    width: 1px;
    height: 100%;

    background: #ddd;
}

#header .inner .top nav>ul>li:nth-child(5):before {
    content: "";
    position: absolute;
    top: 0;
    left: -15px;
    width: 1px;
    height: 100%;

    background: #ddd;

    display: none;
}

#header .inner .top nav>ul li i {
    font-size: 18px;
    background: #fff;
    border-radius: 4px;
    padding: 5px;
    border: 1px solid #ddd;
}

#header .inner .bottom nav>ul {
    display: flex;
    gap: 30px;

    font-size: 18px;
    margin-top: 25px;
}

#header .inner .header_right .bottom {
    line-height: 30px;
}

main {
    padding-top: 140px;
}

.floating {
    position: fixed;
    top: 154px;
    left: 56%;
    width: 140px;
    margin-left: 485px;
    z-index: 999;
}

#mainVisual {
    position: relative;
    max-width: 100%;
    height: 30vw;
    background: url(../img/2023_newyear_top_bg.jpg) no-repeat center center/cover;
}

#mainVisual .Visual_left {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0, -50%);

    margin: 0 0 0 -600px;
}

#mainVisual .Visual_left {
    text-align: center;
}

#mainVisual .Visual_left .img_box {
    width: 244px;
    margin-bottom: 60px;
}

#mainVisual .Visual_left .text_box {
    font-size: 14px;

    color: #046241;
}

#mainVisual .Visual_left .text_box a {
    border: 2px solid #046241;
    padding: 8px 14px 8px 14px;
    border-radius: 5px;
}

#mainVisual .Visual_left .text_box a:hover {
    background: #046241;
    color: #fff;
    transition: 0.5s;
}

#mainVisual .Visual_right {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    height: 100%;
}

#mainVisual .Visual_right .itm {
    width: 260px;
}

#mainVisual .Visual_right .itm01 {
    position: absolute;
    top: -180px;
    left: -200px;
}

#mainVisual .Visual_right .itm02 {
    position: absolute;
    top: -100px;
    left: 0;
}

#mainVisual .Visual_right .itm03 {
    position: absolute;
    top: -150px;
    left: 200px;
}

#lineNotice {
    height: 62px;
}

#lineNotice .left_bg {
    position: relative;
    float: left;
    background: #000;

    height: 62px;
    width: 50%;
}


#lineNotice .right_bg {
    position: relative;
    float: right;
    background: #fff;

    height: 62px;
    width: 50%;
}

.ul_slide .slick-arrow {
    border: none;
    background: inherit;
    font-size: 0;
    opacity: 0;
}

.slick-list {
    width: 350px;
}

.ul_slide li {
    color: #fff;
    font-size: 14px;
}

.ul_slide {
    position: relative;
}

.ul_slide::before {
    content: "공지사항";
    position: absolute;
    top: 29%;
    left: -100px;

    font-size: 20px;
    color: #fff;
}

#lineNotice .left_bg .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 0 0 600px;
}

#lineNotice .left_bg .inner .icon {
    font-size: 20px;
    padding: 5px;
    border-radius: 50%;
    border: 1px solid #fff;
    color: #fff;
}

#lineNotice .right_bg .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 0 0 400px;
}

#lineNotice .right_bg .inner a {
    font-size: 20px;
    margin-right: 140px;
}

#lineNotice .right_bg .inner span {
    font-size: 20px;
    padding: 5px;
    border-radius: 50%;
    border: 1px solid #000;
}



#newRewards {
    padding-top: 30px;
    padding-bottom: 40px;
    background-color: #1e3932;

    height: 300px;
}

#newRewards .inner {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 30px;
}

#newRewards .inner .logo {
    width: 176px;
    font-size: 0;
}

#newRewards .inner .f_inner {
    position: relative;

}

.signinGroup {
    position: absolute;
    top: 60px;
    right: 0;
}

.signinGroup .left {
    color: #fff;
    background: #046241;

    padding: 11px 15px 11px 15px;
    border-radius: 4px;

    font-size: 14px;
    font-weight: 300;
}

.signinGroup .right {
    color: #fff;
    border: 2px solid #fff;

    padding: 8px 12px 8px 12px;
    border-radius: 4px;

    font-size: 14px;
    font-weight: 300;

    margin-left: 5px;
}


#newRewards .inner .text_box h2 {
    font-size: 30px;
    font-weight: 700;
    color: #fff;

    margin-bottom: 20px;
}

#newRewards .inner .text_box p {
    font-size: 18px;
    font-weight: 300;
    color: #fff;

}

#newRewards .inner .text_box span {
    font-weight: 700;
}

#newRewards .inner .text_box .signinGroup .left {
    font-size: 18px;
    color: #fff;
    background: #046241;

}

#newRewards .bottom {
    border-top: 1px solid #4b615b;
    color: #fff;

    display: flex;
    align-items: center;
}

#newRewards .bottom .left {
    margin-top: 20px;
    margin-right: 90px;
    line-height: 20px;
}

#newRewards .bottom .left span {
    font-weight: 700;
}

#newRewards .bottom .right {
    margin-top: 20px;
}

#newRewards .bottom .right a {
    padding: 12px 15px 12px 15px;
    border: 2px solid #fff;
    border-radius: 4px;
}

#mainBean {
    position: relative;
    height: 500px;
    background: url(../img/2023_newyear_promotion_bg.jpg) no-repeat center center/cover;
}

#mainBean .inner {
    position: relative;
}

#mainBean .inner .left_img {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, 10%);

    width: 40%;
}


#mainBean .inner .right_text {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(0, 170px);

    width: 40%;
}

#mainBean .inner .right_text h2 {
    font-size: 40px;
    font-weight: 700;
    color: #633510;
    margin-bottom: 10px;
}

#mainBean .inner .right_text p {
    font-size: 20px;
    font-weight: 400;
    color: #8d6534;
    line-height: 25px;
    margin-bottom: 60px;
}

#mainBean .inner .right_text a {
    font-size: 16px;
    font-weight: 400;
    color: #633510;

    padding: 10px 20px 10px 20px;
    border: 2px solid #633510;
    border-radius: 5px;
}

#mainBean .inner .right_text a:hover {
    background: #633510;
    color: #fff;
    transition: 0.5s;
}

#reserve {
    position: relative;
    height: 400px;
    background: url(../img/221220_pc_reserve_bg.png) no-repeat center center/cover;
}

#reserve .left_img {
    position: absolute;
    top: 30%;
    left: 50%;

    margin: 0 0 0 -600px;
}

#reserve::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 400px;
    height: 400px;
    background: url(../img/221220_pc_reserve_left_bg.png) no-repeat center center/cover;
}

#reserve::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;

    width: 400px;
    height: 400px;
    background: url(../img/221220_pc_resserve_right_bg.png) no-repeat center center/cover;
}

#reserve .left_img a {
    display: block;
    position: absolute;
    top: 180px;
    left: 50%;

    font-size: 18px;
    font-weight: 400;
    color: #8d6534;
    border: 2px solid #8d6534;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    z-index: 888;
}

#reserve .left_img a:hover {
    background: #8d6534;
    color: #fff;
    transition: 0.5s;
}

#reserve .right_img {
    position: absolute;
    top: 0;
    left: 0;
}

#favWrap {
    position: relative;
    height: 800px;
    background: url(../img/2022_Chrismas2_PTF_bg.png) center center fixed no-repeat #45434c;
    background-size: auto 87%;
    background-position: bottom;
    padding: 0;
}

#favWrap .left_box {
    position: absolute;
    top: 15%;
    left: 50%;
    margin: 0 0 0 -600px;

    text-align: right;
}

.h_text {
    font-weight: 500;
}

#favWrap .left_box img {
    margin-bottom: 40px;
}

#favWrap .left_box h2 {
    font-size: 26px;
    font-weight: 500;
    color: #fff;
    line-height: 30px;

    margin-bottom: 20px;
}

#favWrap .left_box p {
    color: #fff;
    font-weight: 300;
    line-height: 20px;

    margin-bottom: 40px;
}

#favWrap .left_box a {
    color: #fff;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    border: 2px solid #fff;
}

#favWrap .left_box a:hover {
    color: #000;
    background: #fff;
    transition: 0.5s;
}

#favWrap .right_box {
    position: absolute;
    top: 15%;
    left: 45%;
}

#magazine {
    position: relative;
    height: 400px;
    background: url(../img/reserve_bg_pc.png) no-repeat 50% 100%;
    background-size: auto 353px;
}

#magazine .left_box {
    position: absolute;
    top: 40%;
    left: 50%;
    margin: 0 0 0 -600px;
}

#magazine .left_box .text_box {
    position: absolute;
    bottom: -60%;
    left: 40%;
}

#magazine .left_box .text_box a {
    text-align: center;
    margin-top: 50px;

    padding: 10px 20px 10px 20px;
    border: 2px solid #000;
    border-radius: 5px;
}

#magazine .left_box .text_box a:hover {
    background: #000;
    color: #fff;
    transition: 0.5s;
}

#magazine .right_box {
    position: absolute;
    top: 0;
    left: 60%;
}

#storeWrap {
    position: relative;
    height: 400px;

    background: url(../img/store_bg.jpg);
    background-size: 100% auto;
}

#storeWrap::before {
    content: "";
    position: absolute;
    right: 350px;
    top: 298px;

    width: 230px;
    height: 102px;
    background: url(../img/store_exp_img04.png);
}

#storeWrap::after {
    content: "";
    position: absolute;
    left: 36%;
    top: 0;

    height: 142px;
    width: 343px;
    background: url(../img/store_exp_img03.png);
    overflow: hidden;
}

#storeWrap .left_box {
    position: absolute;
    top: 0;
    left: 50%;
    margin: 0 0 0 -600px;
}

#storeWrap .left_box02 {
    position: absolute;
    top: 40%;
    left: 50%;
    margin: 0 0 0 -400px;
}

#storeWrap .right_box {
    position: absolute;
    top: 25%;
    left: 50%;
}

#storeWrap .right_box {
    font-weight: 500;
}

#storeWrap .h_text {
    font-weight: 700;
}

#storeWrap .right_box h2 {
    font-size: 30px;
    margin-bottom: 5px;
}

#storeWrap .right_box h3 {
    font-size: 20px;
    margin-bottom: 15px;
}

#storeWrap .right_box p {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 15px;
}

#storeWrap .right_box strong {
    font-weight: 500;
}

#storeWrap .right_box .text_box a {
    display: block;
    margin-top: 30px;
}

#storeWrap .right_box .text_box {
    position: absolute;
    bottom: -45%;
    left: 0;
}

#storeWrap .right_box .text_box a {
    text-align: center;
    margin-top: 50px;

    padding: 10px 20px 10px 20px;
    border: 2px solid #000;
    border-radius: 5px;
}

#storeWrap .right_box .text_box a:hover {
    background: #000;
    color: #fff;
    transition: 0.5s;
}


#footer {
    padding: 32px 0 35px 0;
    background: #2C2A29;
    position: relative;
}

#footer .inner {
    display: block;
}

#footer .inner .top {
    position: relative;
    margin-bottom: 60px;
}

#footer .inner .top .logo {
    position: absolute;
    top: 0;
    right: 0;
}

#footer .inner .top>ul {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    line-height: 40px;

}

#footer .inner .top>ul>li {
    color: rgb(228, 228, 228);
}

#footer .inner .top .sub_gnb {
    font-size: 12px;
    line-height: 25px;
}

#footer .inner .top .sub_gnb>li:hover {
    color: #098d5f;
}

#footer .mid {
    background: #282828;
    height: 100px;
}

#footer .mid .inner ul {
    display: flex;
    line-height: 50px;
}

#footer .mid .inner ul li {
    margin-top: 25px;
}

#footer .footer {
    padding-top: 30px;
    text-align: center;
}

#footer .footer ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 14px;

    margin-bottom: 20px;
}

#footer .footer ul li a span {
    color: #098d5f;
}

#footer .footer ul li {
    color: #999;
    position: relative;

    margin-bottom: 10px;
}

#footer .footer ul li:hover {
    color: #098d5f;
}

#footer .footer ul li~li::before {
    content: "";
    position: absolute;
    top: 0;
    left: -10px;

    width: 1px;
    height: 100%;

    background: #4d4947;
}

#footer .footer .inner>a {
    color: #fff;
    font-size: 12px;

    padding: 10px 20px 10px 20px;
    border: 2px solid #fff;
    border-radius: 5px;

}

#footer .footer .inner .tet {
    padding-top: 40px;

    color: rgb(121, 121, 121);
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 20px;
}

#footer .footer .inner .tet .bb {
    padding: 0 10px;
}

#footer .footer .inner .copy {
    font-size: 12px;
    color: rgb(121, 121, 121);
}